.hwc-content .hwc-postcontent-0 .layout-item-0 { margin-bottom: 15px;  }
            .hwc-content .hwc-postcontent-0 .layout-item-1 { border-spacing: 15px 0px; border-collapse: separate;  }
            .ie7 .hwc-post .hwc-layout-cell {border:none !important; padding:0 !important; }
            .ie6 .hwc-post .hwc-layout-cell {border:none !important; padding:0 !important; }

