.hwc-content .hwc-postcontent-0 .layout-item-0 { padding-right: 10px;padding-left: 10px;  }
.ie7 .hwc-post .hwc-layout-cell {border:none !important; padding:0 !important; }
.ie6 .hwc-post .hwc-layout-cell {border:none !important; padding:0 !important; }.hwc-content .hwc-postcontent-2 .layout-item-0 { padding-right: 10px;padding-left: 10px;  }
.ie7 .hwc-post .hwc-layout-cell {border:none !important; padding:0 !important; }
.ie6 .hwc-post .hwc-layout-cell {border:none !important; padding:0 !important; }.hwc-content .hwc-postcontent-3 .layout-item-0 { padding-right: 10px;padding-left: 10px;  }
.ie7 .hwc-post .hwc-layout-cell {border:none !important; padding:0 !important; }
.ie6 .hwc-post .hwc-layout-cell {border:none !important; padding:0 !important; }.hwc-content .post-layout-item-0 { margin-bottom: 15px;  }
.ie7 .hwc-post .hwc-layout-cell {border:none !important; padding:0 !important; }
.ie6 .hwc-post .hwc-layout-cell {border:none !important; padding:0 !important; }

img {
    float:left;
}